.form-search {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-col-state {
  flex: 0 0 25%;
  margin-right: 10px;
}

.form-col-search {
  flex: 1;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.form-select-field,
.form-input-field {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.form-search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-search-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .form-col-state {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form-col-search {
    flex: 0 0 100%;
  }

  .input-container {
    justify-content: space-between;
  }

  .form-select-field,
  .form-input-field {
    font-size: 16px;
    padding: 10px;
  }

  .form-search-btn {
    right: 5px;
  }

  .form-search-icon {
    width: 20px;
    height: 20px;
  }
}
