.park-page {
  color: #ffffff;
  background-color: $black;

  h3 {
    margin-bottom: 1rem;
    font-size: 2.5rem;

    @media (max-width: 1200px) {
      font-size: 1.5rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.2rem;

    @media (max-width: 768px) {
      font-size: 1rem;
    }

    @media (max-width: 480px) {
      font-size: 0.9rem;
    }
  }

  .subheading {
    font-size: 1.4rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  .park-banner {
    position: relative;
    overflow: hidden;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    .banner-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .banner-heading {
        font-size: 5rem;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        color: #fff;

        @media (max-width: 1200px) {
          font-size: 4rem;
        }

        @media (max-width: 768px) {
          font-size: 3rem;
        }

        @media (max-width: 480px) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .single-park-overview {
    position: relative;

    .overview-container {
      background-color: #ffffff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10rem;

      @media (max-width: 1200px) {
        flex-direction: column;
        padding-bottom: 5rem;
      }

      @media (max-width: 768px) {
        padding-bottom: 2rem;
      }

      .info-block {
        position: relative;
        color: $black;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
        padding-right: 1rem;

        @media (max-width: 1200px) {
          width: 100%;
          padding: 0;
        }

        .text-wrap {
          padding: 2rem;

          @media (max-width: 768px) {
            padding: 1.5rem;
          }

          @media (max-width: 480px) {
            padding: 1rem;
          }

          h3 {
            margin-bottom: 1rem;
          }

          .weather-info {
            margin-top: 15px;
          }
        }

        .get-directions {
          margin-top: 2rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .coordinates {
            margin-bottom: 5px;
          }

          a {
            text-decoration: none;
            color: $primary;
            font-size: 1.3rem;
            font-weight: 700;

            @media (max-width: 768px) {
              font-size: 1.1rem;
            }
          }
        }
      }

      .map {
        width: 50%;
        margin-top: -6.5rem;

        @media (max-width: 1200px) {
          margin-top: 25px;
          width: 100%;
        }

        @media (max-width: 768px) {
          margin-top: 15px;
        }

        .leaflet-container {
          position: relative;
          min-height: 550px !important;
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
          border-radius: 8px 0 0 8px;

          @media (max-width: 1200px) {
            min-height: 380px !important;
            border-radius: 8px;
          }

          @media (max-width: 768px) {
            min-height: 300px !important;
          }
        }
      }
    }
  }

  .activities-container {
    background-color: $black;
    display: flex;
    color: #ffffff;
    padding: 5rem 10%;

    @media (max-width: 1200px) {
      flex-direction: column;
      padding: 5rem 0;
    }

    @media (max-width: 768px) {
      padding: 3rem 0;
    }

    .image-container {
      position: relative;
      width: 50%;
      margin-top: -10rem;
      margin-right: 2rem;

      @media (max-width: 1200px) {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
      }

      img {
        max-height: 600px;
        width: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
        border-radius: 8px;

        @media (max-width: 1200px) {
          max-height: 500px;
        }

        @media (max-width: 768px) {
          max-height: 400px;
        }

        @media (max-width: 480px) {
          max-height: 300px;
        }
      }
    }

    .activities-content {
      width: 50%;
      padding: 2rem;

      @media (max-width: 1200px) {
        width: 100%;
        margin-top: 1rem;
        padding: 1.5rem;
      }

      @media (max-width: 480px) {
        padding: 1rem;
      }

      .subheading {
        color: $accent;
        margin-bottom: 2rem;
      }

      .content {
        line-height: 1.5;
      }
    }
  }

  .topics-container {
    background-color: #ffffff;
    display: flex;
    color: $black;
    padding: 5rem 10%;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      padding: 5rem 0;
    }

    @media (max-width: 768px) {
      padding: 3rem 0;
    }

    .image-container {
      position: relative;
      width: 50%;
      margin-top: -10rem;
      margin-left: 2rem;

      @media (max-width: 1200px) {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
      }

      img {
        max-height: 600px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);

        @media (max-width: 1200px) {
          max-height: 500px;
        }

        @media (max-width: 768px) {
          max-height: 400px;
        }

        @media (max-width: 480px) {
          max-height: 300px;
        }
      }
    }

    .topics-content {
      width: 50%;
      padding: 2rem;

      @media (max-width: 1200px) {
        width: 100%;
        margin-top: 1rem;
        padding: 1.5rem;
      }

      @media (max-width: 480px) {
        padding: 1rem;
      }

      .subheading {
        color: $accent;
        margin-bottom: 2rem;
      }

      .content {
        line-height: 1.5;
      }
    }
  }

  .contact-section {
    text-align: center;
    padding: 4rem 2rem;
    background-color: $dk-accent;

    .card-container {
      position: relative;
      width: 90%;
      margin: auto;
      border-radius: 12px;
      padding: 8rem 5rem;
      background-color: $primary;
      background-size: cover;
      background-position: center center;
      background-image: url("/src/assets/images/park-contact.jpg");
      z-index: 1;
      overflow: hidden;

      @media (max-width: 1080px) {
        padding: 5rem 2rem;
      }

      @media (max-width: 480px) {
        padding: 4rem 1rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
      }

      h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      .text-content {
        display: flex;
        flex-direction: row;
        color: #ffffff;
        text-align: left;

        @media (max-width: 1080px) {
          flex-direction: column;
          align-items: center;
        }

        h4 {
          font-size: 1.4rem;

          @media (max-width: 1080px) {
            font-size: 1.2rem;
          }
        }

        a {
          text-decoration: none;
          color: #ffffff;
        }

        .left-block {
          width: 35%;

          @media (max-width: 1080px) {
            width: 100%;
            text-align: center;
          }

          .email-info:not(:last-child),
          .phone-info:not(:last-child) {
            padding-bottom: 5px;
          }

          .email-description:not(:last-child) {
            padding-bottom: 10px;
            font-size: 1rem;
          }

          .email-block {
            padding-bottom: 1rem;
          }
        }

        .right-block {
          width: 65%;

          @media (max-width: 1080px) {
            width: 100%;
            margin-top: 2rem;
          }

          .park-name:not(:last-child),
          .park-info:not(:last-child) {
            padding-bottom: 5px;
          }

          .park-name {
            font-size: 1.4rem;
            margin-bottom: 15px;

            @media (max-width: 1080px) {
              font-size: 1.2rem;
            }
          }

          .park-description {
            font-size: 1rem;
            margin-bottom: 15px;

            @media (max-width: 720px) {
              font-size: 0.9rem;
            }
          }

          .hours-row {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
          }

          .hours-day {
            .day {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
