@import "./Variables.scss";
@import "./styles/navbar.scss";
@import "./styles/home-banner.scss";
@import "./styles/footer.scss";
@import "./styles/about.scss";
@import "./styles/adventure.scss";
@import "./styles/form.scss";
@import "./styles/home-form.scss";
@import "./styles/explore.scss";
@import "./styles/card.scss";
@import "./styles/park.scss";
@import "./styles/camp-finder.scss";
@import "./styles/camp.scss";
@import "./styles/forecast.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: #ffffff;
}

.page {
  min-height: 60vh;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.status {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}
